{% extends 'common.html' %}
    {% block title %} Login {% endblock title %}
    {% load bootstrap4 %}
    {% block content %}
        <div class="container col-md-4 p-3 my-5 shadow-sm">
            <h2 class="text-center">Reset password</h2>
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                 <!-- {{form}} -->
                <button type="submit" class="btn btn-primary w-100">Send</button>
            </form>
        </div>


    {% endblock content %}